<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>List products</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <a th:href="@{/products/add}" class="btn btn-primary">New Product</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Category Name</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product : ${products}">
            <th scope="row" th:text="${product.id}"></th>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <img height="120" width="150"
                     th:src="@{/images/{img}(img=${product.image})}"
                     alt="Product Image"/>

            </td>
            <td>
                <span th:if="${product.category != null}"
                      th:text="${product.category.name}"></span>
                <span th:if="${product.category == null}">-</span>
            </td>
            <td>
                <a th:href="@{/products/edit/{id}(id=${product.id})}"
                   class="btn btn-secondary">
                    Edit
                </a>

                <form th:action="@{/products/delete/{id}(id=${product.id})}"
                      method="post"
                      style="display:inline">
                    <button type="submit"
                            class="btn btn-danger"
                            onclick="return confirm('Bạn có chắc muốn xoá sản phẩm này?')">
                        Delete
                    </button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
